$color-first: #3897f0;
$color-second: #fff;

$bg-first: #fafafa;
$bg-second: #3897f0;
$bg-rgb: rgba(0, 0, 0, 0.3);


$font-size-one: 18;
$font-size-two: 28; 
$font-size-three: 24; 

$calculo-rem: 0.0625 ;
$rem-font:"rem";